/* FOGLIO DI STILE */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.boxed {
  max-width: 1110px;
  margin: 0 auto;
  background-color: rgb(131, 166, 233);
  box-sizing: border-box;
}

.centrato {
  text-align: center;
}

/*NAVIGATORE  --------------------------------------------------------- */

header {
  padding: 30px;
  background-color: #2c3e50;
}



/*JUMBOTRON  --------------------------------------------------------- */

#jumbotron {
  background-color: #1abc9c;
}

#avatar {
  width: 250px;
  display: block;
  margin: 0 auto;
}



/*PORTFOLIO  --------------------------------------------------------- */

#portfolio img {
  width: 350px;
}



/*ABOUT  --------------------------------------------------------- */



/*CONTACT ME  --------------------------------------------------------- */



/*FOOTER  --------------------------------------------------------- */








 /* debug  */


nav {
  /* height: 200px; */
  border: 1px solid black;
}

section {
  height: 700px;
  background-color: grey;
  border: 1px solid black;
}

footer {
  height: 200px;
  background-color: green;
  border: 1px solid black;
}
